body {
    margin: 0;
    height: 100vh;
    background: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.4rem;
    color: rgba(0, 0, 0, .6);
}

.wrapper {
    display: grid;
    max-width: 600px;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 4rem;
    gap: 1rem;
}
.wrapper > * {
    background: rgb(0, 116, 77, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
}


main {
    grid-column: 1 / 3;
    grid-row: 1 / 8;
}



aside {
    grid-column: 3 / 3;
    grid-row:3 / 8;
}

nav {
    grid-column: 1 / 4;
    grid-row: 8 / 9;
}
